<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="style/promotion_style.css">
</head>
<body>
    <nav>
        <img src="img/logo-solicode.svg">

        <div id="links">
            <div>PROMOTIONS</div>
            <div>BREIFS</div>
        </div>

        <div id="account">
            <img src="img/chat.png">
            <img src="img/user.png">
        </div>
    </nav>

    <div id="welcoming">
        <div>
            <img src="img/pfp.png">
        </div>
        <div>
            <h3>Hello <span>abdulmomen boulaich</span></h3>
            <p>Welcome to SOLICODE</p>
        </div>
    </div>

    <main>
        <div id="container">
            <div class="shape">
                <div id="promotion_info">
                    <img src="img/pfp.png">
                    <div>
                        <h3>Gestion de promotion</h3>
                        <p>mobile development</p>
                    </div>
                </div>
                <div id="promotion_details">
                    <div>
                        <img src="">
                        <p></p>
                    </div>
                    <div>
                        <img src="">
                        <p></p>
                    </div>
                    <div>
                        <img src="">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>    
    
    </main>

</body>
</html>